<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group stylish-input-group">
        <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search">
        <span class="input-group-addon">
            <button type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
        </span>
      </div>
    </div>
  </div>
  <hr>
  <table class="table table-borderless table-hover">
    <tbody>
      <tr *ngFor="let book of bookCatalogue | query:'author,title':search">
        <td style="width: 85px; height: auto;">
          <span *ngIf="book.thumbnailurl">
            <a href="">
            <img src="{{book.thumbnailurl}}" class="img-responsive" >
            </a>
            </span>
        </td>
        <td>
          <tr>
            <span style="font-size: 15px"><b>{{book.title}}</b></span>
            <span style="font-size: 12px">  by  </span>
            <em style="font-size: 12px; color: blue"><b>{{book.author}}</b></em>
          </tr>
          <tr>
            <p class="serif">{{book.description}}</p>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>